extends layout

block content
  h1 Article List
  each article in articles
    div.article.node
      a(href=`/articles/${article.id}`) 
        img(src=article.thumb).img-container
      div.text-container
        a(href=`/articles/${article.id}`) 
          h2= article.title
          div.article!= article.summary
        br
        small= article.type
        small= article.category
        a(href=`/articles/${article.id}`) Read more
    br
  hr
  .page 
      if currentPage > 1
        a(href=`/articles?page=${currentPage - 1}`)= "Previous "
      - var toLast = totalPages - currentPage;
      - var max = toLast > 5 ? 5 : toLast;
      - for (let i = 1; i <= max; i++)
        if currentPage == 1
          a(href=`/articles?page=${Number(currentPage)+i-1}`)= Number(currentPage)+i-1+" "
        else if currentPage == 2
          a(href=`/articles?page=${Number(currentPage)+i-2}`)= Number(currentPage)+i-2+" "
        else if currentPage == 3
          a(href=`/articles?page=${Number(currentPage)+i-3}`)= Number(currentPage)+i-3+" "
        else 
          a(href=`/articles?page=${Number(currentPage)+i-3}`)= Number(currentPage)+i-3+" "
      if currentPage < totalPages
        a(href=`/articles?page=${Number(currentPage) + 1}`) Next